@media (max-width: 900px) {
}

@media (max-width: 500px) {
  .wrapper {
    max-width: 90vw;
  }
  .categories {
    flex-direction: column;
    text-align: center;
    align-items: center;

    &__item {
      margin: 0 0 10px;
    }
  }

  .spinner {
    right: 15%;
  }
}
.currentImage {
  width: 90%;
  margin: 0 auto;

  .rectangle {
    &__one {
      top: -4%;
    }
    &__two {
      bottom: -4%;
    }
  }

  &:hover > .rectangle__one {
    transform: translateX(-5%);
  }
  &:hover > .rectangle__two {
    transform: translateX(4%);
  }
}
