@media (max-width: 900px) {
  .album {
    width: 80%;
    margin-bottom: 40px;
    figcaption {
      width: 70%;
      right: 50%;
      transform: translateX(50%);
      bottom: -10px;

      &:hover {
        transform: scale(1.05) translateY(-10%) translateX(50%);
      }
    }
    &:nth-of-type(even) {
      img {
        margin-left: auto;
      }

      figcaption {
        left: auto;
      }
    }
  }
}

@media (max-width: 650px) {
  .gallery {
    .photo {
      margin: 30px auto;
      img {
        width: 80vw;
        height: 80vw;
      }
    }
  }
}
