@import './reset.scss';
@import './variables.scss';
@import './spinner.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html {
  font-size: 62.5%;
  color: $black;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: $regular;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.2rem;
  font-size: 5rem;
}

.dashboard {
  display: flex;
  justify-content: center;
}

// Buttons
button {
  border: none;
  width: 250px;
  height: 55px;
  margin: 30px;

  &:hover {
    color: #fff;
    background-color: $grey;
  }
}

.getAlbums {
  display: none;
}

.login {
  position: relative;
  padding-left: 30px;
  background-size: contain;

  svg {
    position: absolute;
    height: 60%;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
}

.logout {
  display: none;
}

// Albums section
.albums {
  margin: 30px auto;
}

.album {
  position: relative;
  width: 800px;
  margin: 0 auto 30px;

  img {
    width: 600px;
    height: 350px;
    object-fit: cover;
    object-position: center center;
  }

  figcaption {
    display: flex;
    flex-direction: column;

    position: absolute;
    background-color: #fff;
    bottom: 10%;
    right: 0px;
    width: 300px;
    box-shadow: -35px 25px 59px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.05) translateY(-10%);
      background-color: $lightGrey;
    }
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  &__description {
    font-weight: $light;
    font-size: 1.4rem;
  }

  &__counter {
    color: $grey;
    font-weight: $light;
    font-size: 1.2rem;
    margin-top: auto;

    span {
      font-weight: $bold;
    }
  }
  &:nth-of-type(even) {
    img {
      margin-left: auto;
    }

    figcaption {
      left: 0;
      right: none;
    }
  }
}

// Gallery style
.gallery {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px auto 50px;

  .photo {
    position: relative;
    margin: 0 35px 35px 0;
    overflow: hidden;
    box-shadow: -15px 15px 19px -10px rgba(0, 0, 0, 0.2);
    transition: transform 0.15s ease-out;

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      position: center center;
    }

    figcaption {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.3);
      color: $lightGrey;
      font-weight: $light;
      font-size: 1.3rem;
      padding: 15px;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;

      transform: translateY(100%);
      transition: transform 0.15s ease-out;
    }

    &:hover > figcaption {
      transform: translateY(0);
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

// Add photo form

.addPhoto {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;

  * {
    display: block;
    margin: 0 auto;
  }
  label {
    margin-bottom: 15px;
  }

  &__description {
    font-size: 1.3rem;
    color: $grey;
    font-weight: $light;
  }

  input {
    font-size: 1.4rem;
  }
}

@import './mediaQueries.scss';
